* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.btn-bg {
  background-color: #e91e63;
}

.text-color{
  color: #e91e63
}
.bar-bg {
  background: rgba(41, 52, 119, 0.9);
  z-index: 200;
}
.bar {
  width: 94%;
  z-index: 100;
  position: sticky;
  top: 0;
  padding: 0 2rem;
}
.mainbar {
  position: fixed !important;
}
.first{
  height: fit-content !important;
}